<div class="m-0 p-2 flex flex-col max-h-screen h-screen">
  <app-top-bar
    (register)="showRegister()"
    (signIn)="showSignIn()"
    (random)="showRandom()"
    (signOut)="signOut()"
    [session]="session"
  ></app-top-bar>
  <div class="flex-grow overflow-y-auto">
    <div class="modal-overlay" id="modal-overlay">
      <app-register-dialog
        (cancel)="hideRegister()"
        (register)="register($event)"
      ></app-register-dialog>
      <app-sign-in-dialog
        (cancel)="hideSignIn()"
        (signIn)="signIn($event)"
      ></app-sign-in-dialog>
      <app-random-dialog
        (cancel)="hideRandom()"
        (signIn)="randomSignIn($event)"
        [userNames]="userNames"
      ></app-random-dialog>
    </div>
    <button class="my-2">Add ToDo</button>
    @for (todo of todos; track todo.Id) {
    <app-todo-card
      [todo]="todo"
      (deleteTodo)="deleteTodo($event)"
      (updateTodo)="updateTodo($event)"
    ></app-todo-card>
    }
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
