<div class="m-0 p-2 flex flex-col max-h-screen h-screen">
  <app-top-bar
    (register)="showRegister()"
    (signIn)="showSignIn()"
    (random)="showRandom()"
    (signOut)="signOut()"
    [session]="session"
  ></app-top-bar>
  <div class="flex-grow overflow-y-auto">
    <div class="modal-overlay" id="modal-overlay">
      <app-register-dialog
        (cancel)="hideRegister()"
        (register)="register($event)"
      ></app-register-dialog>
      <app-sign-in-dialog
        (cancel)="hideSignIn()"
        (signIn)="signIn($event)"
      ></app-sign-in-dialog>
      <app-random-dialog
        (cancel)="hideRandom()"
        (signIn)="randomSignIn($event)"
        [userNames]="userNames"
      ></app-random-dialog>
      <app-new-todo-dialog
        (cancel)="hideNew()"
        (addTodo)="addTodo($event)"
      ></app-new-todo-dialog>
      @if (currentUser) {
      <app-edit-user-dialog
        [currentUser]="currentUser"
        (cancel)="hideEditUser()"
        (update)="updateUser($event)"
      ></app-edit-user-dialog>
      <app-change-password-dialog
        (cancel)="hideChangePW()"
        (changePW)="changePW($event)"
      ></app-change-password-dialog>
      }
    </div>
    @if (session.SignedIn) { @if (currentUser && !currentUser.Random) {
    <app-user-buttons
      [currentUser]="currentUser"
      (showEditUser)="showEditUser()"
      (showChangePW)="showChangePW()"
    ></app-user-buttons>
    } @if (currentUser) {
    <button class="my-2" (click)="showNew()">Add ToDo</button>
    } @for (todo of todos; track todo.Id; let idx = $index) {
    <app-todo-card
      [todo]="todo"
      [idx]="idx"
      (deleteTodo)="deleteTodo($event)"
      (updateTodo)="updateTodo($event)"
    ></app-todo-card>
    } } @else {
    <div>
      <h2>Welcome</h2>
      <div class="mb-4">
        This site is a todo list application. Authentication is used so that
        each user will only see their own todos.
      </div>
      <div>
        For those who wish to avoid entering any personal information an option
        to log in as a randomly generated user has been provided.
      </div>
    </div>
    }

    <div class="h-10"></div>
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
